p {
	font-size: 1.1em;
}

.navbar {
  border-bottom: #2d2e75 1px solid; }
  .navbar .nav-link {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 1em !important;
    padding-right: 1em !important; }
  .navbar .nav-item.active {
    background: #2d2e75; }

.post {
	border: 1px solid #ccc;
	padding: 10px;
	margin-top: 15px;
}
.post h3 {
	margin: 0px;
}
.post-div {
	border: 1px solid #ccc;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px;
}
.post-form {
	margin-top: 80px;
}
/*DETAILS PAGE*/
.post-details p {
	text-align: justify;
	margin: 20px auto;
	font-size: 1.2em;
}
.upload-img-btn {
	position: absolute;
	z-index: 9;
	top: 35px;
	right: 5px;
}
